@import "~normalize.css";

@import "_variables";
@import "modules/hero.scss";
@import "modules/skills.scss";
@import "modules/project.scss";
@import "modules/contact.scss";
@import "modules/socials.scss";
@import "modules/hand.scss";


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono:wght@400;700&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: Nunito;
  color:$text;
}

.hero__image--photo{
  width: 156px;
  height: 156px;
  border-radius: 50%;
  margin-top: 36px;
  margin-bottom: 36px;
}